body 
{
	font-size: 16px; 
	margin: 0 auto ; 
	max-width: 1024px; 
	min-width: 1024px;
}
header section
{
	text-align: right;
}
header nav 
{
	/*border: 1px solid black;*/
	border-radius: 5px; 
	background: linear-gradient(#F6661D,white,#F6661D,#F6661D,#F6661D);
	margin: 0 auto;
	padding: 1px 0px 1px 0px;
	width: 100%;
}
input[type="button"]
{
	background: rgb(200,200,200);
	border-radius: 8px;
	color: white;

}
#art1
{
	margin-left: 1px;
	width: 44%
}
#art2
{
	margin-left: 150px;
	padding-left: 5px;
	width: 40%
}
#art2
{
	border-radius: 1px solid black;
	margin-left: 1px;
	width: 44%
}
#art3
{
	margin-left: 150px;
	padding-left: 5px;
	width: 40%
}
#fondo
{
	background: orange;
}
#secc1
{
	height: 318px;
	margin-top: 1px;	
}
#secc1 article
{
	display: inline-block;

}
#secc2
{
	height: 318px;
	margin-top: 1px;	
}
#secc2 article
{
	display: inline-block;

}
.iguales
{
	color: white;
	border-radius: 5px;
	padding-left: 50px
}