/*Imagen con atributo alt*/
img[alt]
{
	border: 5px solid blue;
}
/*Imagen con atributo SRC cadena exacta*/
img[src="img/alerta.png"]
{
	width: 400px;
}
/*Imagen con atributo SRC con el inicio de la cadena*/
img[src^="img/al"]
{
	width: 150px;
}
/*Imagen con el atributo SRC al final de la cadena*/
img[src$="ng"]
{
	width: 50px;
}
/*Imagen con el atributo SRC en cualquier parte de la cadena*/
img[src*="erta"]
{
	width: 1000px;
}
/*El caracter ~ indica que estos selectores en este article estan separados por expacio*/
article[class~="resaltado"]
{
	border: 1px dashed blue;
}
article[class~="archivo"]
{
	border: 1px dashed red;
}
article[class~="ingles"]
{
	border: 1px dashed green;
}
/*El atributo id es una lista de valores separados por guiones, pero solo si el valor mas a la izquierda es ingles*/
article[id|=ingles]
{
	text-align: center;
}