body 
{
	font-size: 16px; /*em*/
	margin: 0 auto ; /*el 0 es el espacio de arriba y abajo y "auto" es para centrar el contenido de body*/
	max-width: 1078px; /*eso mide la barra de arriba*/
	min-width: 1078px;
}
form input[type="button"]
{
	background: green;
	color: white;
}
header nav
{
	/*border: 1px solid red;*/ /*<-- Sirve de guia */
	/*text-align: center;*/ /* <-- No funciona por la mancha de pintura*/
	margin-left: 220px;
}
header nav ul li
{
	border-bottom: 1px solid gray;
	color: gray; 
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	/*text-decoration: underline;*/
}
header input
{
	float: right;
	margin-right: -220px;
	margin-top: 10px;
	position: relative; /*para ponerlo encima de la imagen*/
}
#boton
{
	background: #A3D948;
	color: white;
	font-weight: bold;
}
#bgoffer
{
	top: -410px;	
	right: 35px;
	position: relative;
}
#granthams
{
	margin-top: 20px;
	margin-left: 25px;
}
#paint
{
	float: right;
}
#primerseccion article
{
	display: inline-block;
	vertical-align: top;
}
#primerseccion
{
	height: 318px;
	margin-top: 60px;	
}
#secc01art01
{
	margin-left: 30px;
	width: 60%
}
#secc01art02
{
	margin-left: 50px;
	width: 30%
}
#secc01art02 ul
{
	list-style: none; /*quita los . adicionales*/
}
#secc01art02 ul li:before /*afecta a los "li" antes del texto*/
{
	content: "•";
	color: #F5B0CD;
	margin-right: 8px;
}
#segundaseccion article
{
	text-align: right;
	padding-right: 125px;
}
#terceraseccion article
{
	display: inline-block;
	vertical-align: top;
	width: 23%
}
#terceraseccion article img 
{
	vertical-align: middle; /*Alineacion del texto*/
}
.colorrosa
{
	color: #FF0099;
}
.otrorosa
{
	color: #F5B0CD;
}
.colorverde
{
	color: #A3D948;
}
.colorazul
{
	color: #1AA0D6;
}
.distintotitulo
{
	font-size: 2em;
}
.nito
{
	font-weight: bold; /*negritas*/
}
.rosamediano
{
	font-size: 2em;
}
.rosagrande
{
	font-size: 3.5em;
}


