body 
{
	font-size: 16px; /*em*/
	margin: 0 auto ; /*el 0 es el espacio de arriba y abajo y "auto" es para centrar el contenido de body*/
	max-width: 1024px; /*eso mide la barra de arriba*/
	min-width: 1024px;
}

{
	background: green;
	color: white;
}
header nav
{
	/*border: 1px solid red;*/ /*<-- Sirve de guia */
	/*text-align: center;*/ /* <-- No funciona por la mancha de pintura*/
	margin-left: 220px;
}